<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776485447760-irbojbabddu06ck0d0muvtepknmnb6qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776485447760-irbojbabddu06ck0d0muvtepknmnb6qu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776485447760-5q178t56v4lu9821miaee89tdcmg3934.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5kJ_Y1InYEagtt4GTrFzFqy-ywQMvKiA</string>
	<key>GCM_SENDER_ID</key>
	<string>776485447760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>peartech.restaurantpartner.app</string>
	<key>PROJECT_ID</key>
	<string>arbites-66bab</string>
	<key>STORAGE_BUCKET</key>
	<string>arbites-66bab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776485447760:ios:f347dfdef2cb76def24955</string>
	<key>DATABASE_URL</key>
	<string>https://arbites-66bab.firebaseio.com</string>
</dict>
</plist>